body{
    background-color: black;
}
#box { 
    width: 100px; 
    height: 100px;
    position: absolute; 
    background-image: url('./pictures/pacman.gif');
    background-size: contain;
    left: 200px; 
    top: 200px; 
}